<%- include('./partials/header') %>

    <section>
        <% subjects.forEach(subject => { %>

            <li>

                <h2><%= subject.node.name %></h2>

            </li>

        <% }) %>
    </section>

<%- include('./partials/footer') %>